html * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #1e1e2c;
}

.bottom-container {
    margin-top: -25px;
}

.container {
    margin: 25vh auto 0px auto;
}

.container input {
    color: white;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #ffffff18;
    border-width: 1px;
    border-color: transparent;
    border-radius: 50px;
}

.container input:focus {
    outline: none;
}

.btn-container {
    margin-top: 15px;
}

.btn-container button {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #ffffff;
}

.btn-container button:active {
    position: relative;
    top: 1px;
}

.btn-container button:hover {
    background-color: #ebebeb;
}

.btn-container button:focus {
    outline: none;
}